        .simpanan-value {
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media (max-width: 768px) {
                .simpanan-value {
                    font-size: 0.7rem;
                }
            }

            .data-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.5rem;
            }

            .data-label {
                font-weight: bold;
            }

            .data-value {
                text-align: right;
            }

            .pinjaman-table {
                table-layout: fixed;
                width: 100%;
            }

            .pinjaman-table th,
            .pinjaman-table td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.9rem;
            }

            @media (max-width: 768px) {

                .pinjaman-table th,
                .pinjaman-table td {
                    font-size: 0.7rem;
                }
            }

            .clickable-row {
                cursor: pointer;
            }

            .clickable-row:hover {
                background-color: #f8f9fa;
            }